<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_panal_style.css') }}">
</head>
<body>
    <main>
        <header>
            <h1>Admin Panel: {{ admin_name }}</h1>
        </header>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <hr>

        <section class="user-update">
            <form method="POST" action="">
                <div class="form-group">
                    <label for="addUser">Update user to "internal":</label>
                    <input type="text" id="addUser" name="addUser" placeholder="Enter name..." required>
                    <button type="submit">Update</button>
                </div>
            </form>
        </section>

        <hr>

        <section class="log-viewer">
            <h2>Log File Viewer</h2>
            <form method="POST" action="">
                <div class="form-group">
                    <label for="fp">File Path:</label>
                    <input type="text" id="fp" name="fp" value="log.txt" type="hidden" >
                    <button type="submit">Show Log</button>
                </div>
            </form>
            <textarea readonly>{{ log_content }}</textarea>
        </section>
    </main>
</body>
</html>