<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VRWA - Vulnerable Retro Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap" rel="stylesheet">
</head>
<body>
    <div class="scanlines-overlay"></div>

    <div class="container">
        <header class="main-header">
            <h1>VRWA Vulnerable Retro Web Application</h1>
            <p class="subtitle">> Hacking since the 80s_</p>
            {% if username %}
                <div class="user-greeting">
                    <a href="{{ url_for('user_page') }}">
                        <p>Welcome back, {{ username }}</p>
                    </a>
                </div>
            {% endif %}
        </header>

        <nav class="main-nav">
            <a href="{{ url_for('products_page') }}">Products</a>
            <a href="{{ url_for('cart') }}">Cart</a>
            <a href="{{ url_for('login_page') }}">Login</a>
        </nav>

        <div class="slideshow-container">
            <div class="mySlides fade"><img src="{{ url_for('static', filename='imgs/Bannar/Bannr1.png') }}" alt="Banner 1"></div>
            <div class="mySlides fade"><img src="{{ url_for('static', filename='imgs/Bannar/Bannr2.png') }}" alt="Banner 2"></div>
            <div class="mySlides fade"><img src="{{ url_for('static', filename='imgs/Bannar/Bannr3.png') }}" alt="Banner 3"></div>
            <div class="mySlides fade"><img src="{{ url_for('static', filename='imgs/Bannar/Bannr4.png') }}" alt="Banner 4"></div>
           <div class="mySlides fade"><img src="{{ url_for('static', filename='imgs/Bannar/Bannr5.png') }}" alt="Banner 5"></div>
        </div>

        <main>
            {% if featured_product %}
            <section class="featured-product-section card">
                <div class="featured-image">
                    <img src="{{ featured_product.img }}" alt="{{ featured_product.name }}">
                </div>
                <div class="featured-content">
                    <h2 class="section-title">--[ BEST SELLER ]--</h2>
                    <h3>{{ featured_product.name }}</h3>
                    <p class="featured-description">{{ featured_product.description }}</p>
                    <p class="featured-price">${{ "%.2f"|format(featured_product.price) }}</p>
                    <a href="{{ url_for('product', id=featured_product.id) }}" class="btn">View Product Details</a>
                </div>
            </section>
            {% endif %}

            <h2 class="section-title">--[ LATEST ARRIVALS ]--</h2>
            
            <div class="product-grid">
                {% if products %}
                    {% for product in products %}
                    <div class="product-card card">
                        <div class="product-card-image">
                            <img src="{{ product.img }}" alt="{{ product.name }}">
                        </div>
                        <div class="product-card-content">
                            <h3 class="product-name">{{ product.name }}</h3>
                            <p class="product-details">Year: {{ product.release_year }}</p>
                            <p class="product-price">${{ "%.2f"|format(product.price) }}</p>
                            <a href="{{ url_for('product', id=product.id) }}" class="add-to-cart-btn">View Details</a>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No featured products at the moment. Stand by...</p>
                {% endif %}
            </div>
        </main>
        
        <footer class="main-footer">
            <p>2025 VRWA MADE WITH ❤️ BY ORI SELA.</p>
            <b>Disclaimer: This is not a real application. It is designed to be a vulnerable environment for a Capture The Flag (CTF) exercise. For more details, <a href="https://github.com/oris800/VRWA">please visit here</a>.</b>
        </footer>
    </div>
    
    <script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
</body>
</html>